# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Temporary Files
*.tmp
*.temp

# Google Colab
content/

# Excel / CSV Outputs
*.xlsx
*.csv

# Python cache
.pytest_cache/
.mypy_cache/

# Secrets
secrets.json
credentials.json
